# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VSCode and PyCharm
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Results and logs
result/*.log
result/*.txt
